<!doctype html>
<html lang="en" data-framework="angular2">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>Test app</title>
    <base href="/">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> <!-- change this to local -->
    <script src="content/js/materialize-utils.js"></script> <!-- TODO: remove -->
    <link rel="icon" href="content/images/favicon.png" type="image/png" />
</head>

<body>
    <test-app></test-app>

    <noscript><div style="text-align: center;font-size: large; margin-top: 10%">You must enable javascript to run this application.</div></noscript>
    <!-- Bundles will be appended by webpack here !-->
</body>
</html>
